[Unit]
Description=AmbiHue

[Service]
Type=simple
ExecStart=/usr/bin/python2 /home/poinck/gits/ambihue/ambihue.py
Restart=always
# RestartSec=120min
RestartSec=40s

[Install]
WantedBy=multi-user.target
